<main class="container mt-4">
    <h2>Lista de Livros</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Código</th>
                <th>Título</th>
                <th>Editora</th>
                <th>Autores</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let livro of livros">
                <td>{{ livro.getCodigo()}}</td>
                <td>{{ livro.getTitulo() }}</td>
                <td>{{ obterNome(livro.getCodEditora()) }}</td>
                <td>
                    <ul>
                        <li *ngFor="let autor of livro.getAutores()">{{ autor }}</li>
                    </ul>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="excluir(livro.getCodigo())">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</main>